* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  overflow-x: hidden;
  letter-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  margin: 10px;
  color: #424250;
  align-items: center;
  padding-left: 30px;
}
.nav-items > ul > li:hover {
  color: #f3730a;
}
.search-container {
  margin: 20px auto;
  text-align: center;
  max-width: 100%;
  position: relative;
}
.search-container .search-input {
  width: 40%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #d0d0d0;
  color: #000000;
}
.search-container .search-btn {
  border-radius: 5px;
  background-color: #ca610b;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 14px 20px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}
.search-container .search-btn:hover {
  background-color: #ffffff;
  color: #ca610b;
  border: 1px solid #d0d0d0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.Restaurant-list {
  display: flex;
  flex-wrap:wrap;
  margin: auto;
  margin-bottom: 85px;
  max-width: 1200px;
  justify-content: space-evenly;
}
.card {
  width: 254px;
  padding: 20px 20px 57px;
  display: block;
  border: 1.11px solid transparent;
  font-weight: lighter;
}
.card:hover {
  border: 1px solid #d0d0d0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.card > img {
  width: 100%;
}
.card > h2 {
  font-size: 17px;
  font-weight: 500;
}
.card > h5 {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
  font-weight: 300;
}
.locationIcon {
  font-size: 12px;
}
.card > span {
  color: #686b78;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
.avgRating {
  display:iblock;
  padding: 3px;
  font-size: 11px;
  font-weight: 300;
}
.avgRatingIcon {
  font-size: 10px;
}
.routeIcon {
  font-size: 12px;
}
.footer {
  margin-top: 20px;
  height: auto;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.info {
  margin-top: 10px;
  justify-content: space-between;
}
.contact-links {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-links > a {
  margin-left: 10px;
}
.copyright-info {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedin {
  font-size: 35px;
}

.linkedin :hover {
  color: #0a66c2;
}
.github {
  font-size: 35px;
}
.github :hover {
  color: #333;
}
.twitter {
  font-size: 35px;
}
.twitter :hover {
  color: #00acee;
}
.discord {
  font-size: 30px;
}
.discord :hover {
  color: #7289da;
}

