@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", system-ui, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
/*Footer CSS Start */
/*Footer CSS End */

/*Search CSS Start */
/*Search CSS end */

/*Error CSS Start*/
/*Error CSS end*/

/*Cart CSS start*/
/*Cart CSS end*/

/*Help CSS start*/
/*Help CSS end*/
/*Rest-menu CSS Start*/
/*Rest-menu CSS end*/

/* Landing Page CSS */
/* Landing Page CSS end */

/* Restaurant Card Shimmer CSS Start */
/* Restaurant Card Shimmer CSS End */
